<nb-card>
  <nb-card-header>
    WEBLOGO (through <a
    href="http://weblogo.threeplusone.com/create.cgi"
    nbPopover="Link to Weblogo's web location."
    nbPopoverTrigger="hint"
    nbPopoverPlacement="bottom"
    target="_blank">Weblogo 3</a> portal)
  </nb-card-header>
  <nb-card-body>
    <!--
    SEQUENCE: <textarea nbInput fullWidth type='text' value='{{query_seq}}' [formControl]='sequence'
                        placeholder='Sequences in FASTA format' style='width:90%'></textarea>
    -->

    <table>

      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 85%;">
      </colgroup>

      <tbody>

      <tr>
        <th><label>SEQUENCES:</label></th>
        <th style="padding-left:50px;">
          <textarea nbInput fullWidth type='text' value='{{query_seq}}' [formControl]='sequence'
                    placeholder='Sequences in FASTA format' style="width:1000px"></textarea>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>

      </tbody>

    </table>

    <p></p>
    <button nbButton (click)='gotoWebLogo(true)'>WEBLOGO 3 (FILE IMAGE)</button>
    <p></p>
    <button nbButton (click)='gotoWebLogo(false)'>WEBLOGO 3 (RAW DATA)</button>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    WEBLOGO (through the the Python packages '<a
    href="https://weblogo.readthedocs.io/en/latest/intro.html"
    nbPopover="Link to weblogo's web location."
    nbPopoverTrigger="hint"
    nbPopoverPlacement="bottom"
    target="_blank">weblogo</a>' and '<a
    href="https://logomaker.readthedocs.io/en/latest/"
    nbPopover="Link to logomaker\'s web location."
    nbPopoverTrigger="hint"
    nbPopoverPlacement="bottom"
    target="_blank">logomaker</a>')
  </nb-card-header>

  <nb-card-body>

    <table>

      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 85%;">
      </colgroup>

      <tbody>

      <tr>
        <th><label>COLOUR SCHEME:</label></th>
        <th style="padding-left:92px;">
          <nb-select placeholder="{{select_color_weblogo}}" [(selected)]="select_color_weblogo">
            <nb-option value='charge'>Charge</nb-option>
            <nb-option value='chemistry'>Chemistry</nb-option>
            <nb-option value='hydrophobicity'>Hydrophobicity</nb-option>
            <nb-option value='NajafabadiEtAl2017'><i>Najafabadi Et Al, 2017</i></nb-option>
            <nb-option value='skylign_protein'>Skylign</nb-option>
            <nb-option value='weblogo_protein'>Weblogo - Protein</nb-option>
          </nb-select>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>STACK PER LINE:</label></th>
        <th style="padding-left:92px;">
          <input nbInput type="number" min="15" max="50" placeholder="25" [formControl]="stack_per_line"
                 class="search-input shape-rectangle size-medium">
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>

      </tbody>

    </table>

    <p></p>

    <button nbButton (click)="getImageFromService()">WEBLOGO (FILE IMAGE)</button>
    <p></p>
    <button nbButton (click)="downloadWeblogoFile()">WEBLOGO (TEXT OUTPUT)</button>
    <p></p>

    <div *ngIf="show_image">
      <img style='height: 100%; width: 100%; object-fit: contain'
        [src]='transform()'
        alt='Place image title'
        *ngIf='!isImageLoading; else noImageFound'>
      <ng-template #noImageFound>
        <p></p>
      </ng-template>
    </div>
  </nb-card-body>

</nb-card>
