<nb-card>
  <nb-card-header>Fusion Peptide Prediction - <a href="https://pypi.org/project/propythia/"
                                                 nbPopover="Link to Propythia's web location."
                                                 nbPopoverTrigger="hint"
                                                 nbPopoverPlacement="bottom"
                                                 target="_blank">Propythia</a></nb-card-header>
  <nb-card-body>

    <!--
    SEQUENCE: <textarea nbInput fullWidth type="text" value="{{query_seq}}" [formControl]="sequence"
                        placeholder="Sequence" style="width:90%"></textarea>
    <p></p>

    MODEL:
    <nb-select placeholder="{{option_model}}" [(selected)]="option_model">
      <nb-option value="svm">Support Vector Machine</nb-option>
      <nb-option value="rf">Random Forest</nb-option>
      <nb-option value="gboosting">Gradient Boosting</nb-option>
      <nb-option value="knn"><i>K</i>-Nearest Neighbors</nb-option>
      <nb-option value="lr">Linear Regression</nb-option>
      <nb-option value="gnb">Gaussian Naive Bayes</nb-option>
      <nb-option value="nn">Neural Network</nb-option>
    </nb-select>
    <p></p>
    WINDOW SIZE: <input nbInput type="number" min="5" placeholder="15" [formControl]="window_size">
    <p></p>
    <p></p>
    GAP SIZE: <input nbInput type="number" min="1" max="4" placeholder="1" [formControl]="gap_size">
    -->

    <table>

      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 85%;">
      </colgroup>

      <tbody>

      <tr>
        <th><label>SEQUENCE:</label></th>
        <th style="padding-left:50px;">
      <textarea nbInput fullWidth type="text" value="{{query_seq}}" [formControl]="sequence"
                placeholder="Sequence" style="width:1000px"></textarea>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>MODEL:</label></th>
        <th style="padding-left:50px;">
          <nb-select placeholder="{{option_model}}" [(selected)]="option_model">
            <nb-option value="svm">Support Vector Machine</nb-option>
            <nb-option value="rf">Random Forest</nb-option>
            <nb-option value="gboosting">Gradient Boosting</nb-option>
            <nb-option value="knn"><i>K</i>-Nearest Neighbors</nb-option>
            <nb-option value="lr">Linear Regression</nb-option>
            <nb-option value="gnb">Gaussian Naive Bayes</nb-option>
            <nb-option value="nn">Neural Network</nb-option>
          </nb-select>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>WINDOW SIZE:</label></th>
        <th style="padding-left:50px;">
          <input nbInput type="number" min="5" placeholder="20" [formControl]="window_size"
                 class="search-input shape-rectangle size-medium"
                 nbPopover="Number of amino acids within the subpeptides present in the sequence that will be used as input for each individual prediction."
                 nbPopoverTrigger="hint"
                 nbPopoverPlacement="bottom"
          >
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>GAP SIZE:</label></th>
        <th style="padding-left:50px;">
          <input nbInput type="number" min="1" max="4" placeholder="1" [formControl]="gap_size"
                 class="search-input shape-rectangle size-medium"
                 nbPopover="Number of amino acids between the first position of each subpeptide that will be used as input for each individual prediction."
                 nbPopoverTrigger="hint"
                 nbPopoverPlacement="bottom">
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>

      </tbody>

    </table>

    <p></p>
    <button nbButton (click)="getTaskID()">PREDICT FUSION PEPTIDES</button>
    <!--
    <button nbButton (click)="gotoML()">PREDICT FUSION PEPTIDES</button>
    <button nbButton (click)="getTaskID()">PREDICT CONSERVATION ASYNC</button>
    -->
    <p></p>
  </nb-card-body>
</nb-card>

<!--
<nb-card *ngIf="results.length>0">
  <nb-card-header>
    Results
  </nb-card-header>

  <nb-card-body>

    <button nbButton (click)="showTable()">SHOW ALL PEPTIDES</button>
    <p></p>

    <ng2-smart-table [settings]="settings" [source]="results" *ngIf="table_bool">
    </ng2-smart-table>

    <p></p>
    <button nbButton (click)="seqColor()">SHOW SEQUENCE</button>
    <p></p>


    <div *ngIf="pos_prob.length>0">
      <p></p>
      <span *ngFor="let item of pos_prob; index as i"
            class="seq" [ngStyle]="{'background-color':item.color}"
            nbTooltip="Position: {{item.no}}; Probability: {{item.prob}}">
        {{item.carat}}
    </span>
      <p></p>
      <dl>
        <div class="Legend">
          <div class="Red">&nbsp;</div>
          >= 99% probability
          <div class="Orange">&nbsp;</div>
          Probability between 95 and 99%
          <div class="Yellow">&nbsp;</div>
          Probability between 90 and 95%
          <div class="LightGreen">&nbsp;</div>
          Probability between 80 and 90%
          <div class="LightBlue">&nbsp;</div>
          Probability between 70 and 80%
          <div class="LightGray">&nbsp;</div>
          Probability between 60 and 70%
          <div class="White">&nbsp;</div>
          < 60% probability
        </div>
      </dl>

      <p></p>

      <a [href]="fileUrl" download="results_ml.txt">Download Results</a>

      <p></p>
    </div>

  </nb-card-body>

</nb-card>
-->

<nb-card *ngIf="box_async">
  <nb-card-header>
    Results
  </nb-card-header>

  <nb-card-body>

    <div *ngIf="!asyncReturn">
      <p>Results not yet returned...</p>
      <button nbButton (click)="getResultfromTaskID()">REFRESH</button>
    </div>

    <div *ngIf="asyncReturn">
      <button nbButton (click)="showTable()">SHOW ALL PEPTIDES</button>
      <p></p>

      <ng2-smart-table [settings]="settings" [source]="results" *ngIf="table_bool">
      </ng2-smart-table>

      <p></p>
      <button nbButton (click)="seqColor()">SHOW SEQUENCE</button>
      <p></p>


      <div *ngIf="pos_prob.length>0">
        <p></p>
        <span *ngFor="let item of pos_prob; index as i"
              class="seq" [ngStyle]="{'background-color':item.color}"
              nbTooltip="Position: {{item.no}}; Probability: {{item.prob}}">
        {{item.carat}}
    </span>
        <p></p>
        <dl>
          <div class="Legend">
            <div class="Red">&nbsp;</div>
            >= 99% probability
            <div class="Orange">&nbsp;</div>
            Probability between 95 and 99%
            <div class="Yellow">&nbsp;</div>
            Probability between 90 and 95%
            <div class="LightGreen">&nbsp;</div>
            Probability between 80 and 90%
            <div class="LightBlue">&nbsp;</div>
            Probability between 70 and 80%
            <div class="LightGray">&nbsp;</div>
            Probability between 60 and 70%
            <div class="White">&nbsp;</div>
            < 60% probability
          </div>
        </dl>

        <p></p>

        <a [href]="fileUrl" download="results_ml.txt">Download Results</a>

        <p></p>
      </div>

    </div>

  </nb-card-body>

</nb-card>


<nb-card>
 <nb-card-header>
   Conservation Scores
 </nb-card-header>
 <nb-card-body>

   <!--
   WEBLOGO FAMILY:
   <nb-select placeholder="{{option_conserv}}" [(selected)]="option_conserv"
               >
      <nb-option value="Arenaviridae">Arenaviridae</nb-option>
      <nb-option value="Coronaviridae">Coronaviridae</nb-option>
      <nb-option value="Flaviviridae">Flaviviridae</nb-option>
      <nb-option value="Filoviridae">Filoviridae</nb-option>
      <nb-option value="Herpesviridae">Herpesviridae</nb-option>
      <nb-option value="Orthomyxoviridae">Orthomyxoviridae</nb-option>
      <nb-option value="Paramyxoviridae">Paramyxoviridae</nb-option>
      <nb-option value="Peribunyaviridae">Peribunyaviridae</nb-option>
      <nb-option value="Phenuiviridae">Phenuiviridae</nb-option>
      <nb-option value="Pneumoviridae">Pneumoviridae</nb-option>
      <nb-option value="Rhabdoviridae">Rhabdoviridae</nb-option>
      <nb-option value="Retroviridae">Retroviridae</nb-option>
      <nb-option value="Togaviridae">Togaviridae</nb-option>
    </nb-select>
    -->

   <table>

     <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 85%;">
     </colgroup>

     <tbody>

     <tr>
       <th><label>WEBLOGO FAMILY:</label></th>
       <th style="padding-left:92px;">
         <nb-select placeholder="{{option_conserv}}" [(selected)]="option_conserv"
         > <!-- onChange()="graphConserv(false)" -->
           <nb-option value="Arenaviridae">Arenaviridae</nb-option>
           <nb-option value="Coronaviridae">Coronaviridae</nb-option>
           <nb-option value="Flaviviridae">Flaviviridae</nb-option>
           <nb-option value="Filoviridae">Filoviridae</nb-option>
           <nb-option value="Herpesviridae">Herpesviridae</nb-option>
           <nb-option value="Orthomyxoviridae">Orthomyxoviridae</nb-option>
           <nb-option value="Paramyxoviridae">Paramyxoviridae</nb-option>
           <nb-option value="Peribunyaviridae">Peribunyaviridae</nb-option>
           <nb-option value="Phenuiviridae">Phenuiviridae</nb-option>
           <nb-option value="Pneumoviridae">Pneumoviridae</nb-option>
           <nb-option value="Rhabdoviridae">Rhabdoviridae</nb-option>
           <nb-option value="Retroviridae">Retroviridae</nb-option>
           <nb-option value="Togaviridae">Togaviridae</nb-option>
         </nb-select>
       </th>
     </tr>
     <tr class="blank_row">
       <td colspan="2"></td>
     </tr>

     </tbody>

   </table>

    <p></p>
    <button nbButton (click)="getConserv()">PREDICT CONSERVATION</button>
    <p></p>
    <!--
    <p></p>
    <button nbButton (click)="graphConserv(false)">UPDATE FAMILY</button>
    <p></p>
    -->
    <div *ngIf="conserv_card">
      <!--
      <p></p>
      {{name_family}}
      -->
      <p></p>
      <span *ngFor="let item of print_conserv; index as i"
            class="seq" [ngStyle]="{'background-color':item.color}"
            nbTooltip="Position: {{item.no}}; Probability: {{item.prob}}">
        {{item.carat}}
    </span>
      <p></p>
      <dl>
        <!--
        <div class="Legend">
          <div class="Red">&nbsp;</div>
          Score above 1
          <div class="Orange">&nbsp;</div>
          Score above between 0.80 and 1.00
          <div class="Yellow">&nbsp;</div>
          Score above between 0.60 and 0.80
          <div class="LightGreen">&nbsp;</div>
          Score above between 0.40 and 0.60
          <div class="White">&nbsp;</div>
          Score below 0.40
        </div>
        -->
        <div class="Legend">
          <div class="Red">&nbsp;</div>
          Relative Conservation above 0.95 within the sequence
          <div class="Orange">&nbsp;</div>
          Relative Conservation above between 0.90 and 0.95 within the sequence
          <div class="Yellow">&nbsp;</div>
          Relative Conservation above between 0.80 and 0.90 within the sequence
          <div class="LightGreen">&nbsp;</div>
          Relative Conservation above between 0.60 and 0.80 within the sequence
          <div class="White">&nbsp;</div>
          Relative Conservation below 0.95 within the sequence
        </div>
      </dl>

      <p></p>
      <p></p>
    </div>

  </nb-card-body>

</nb-card>

<!--
<button nbButton (click)="getTaskID()">PREDICT CONSERVATION ASYNC</button>


<nb-card *ngIf="box_async">
  <nb-card-header>
    Results
  </nb-card-header>

  <nb-card-body>

    <div *ngIf="!asyncReturn">
      <p>Results not yet returned...</p>
      <button nbButton (click)="getResultfromTaskID()">REFRESH</button>
    </div>

    <div *ngIf="asyncReturn">
      <button nbButton (click)="showTable()">SHOW ALL PEPTIDES</button>
      <p></p>

      <ng2-smart-table [settings]="settings" [source]="results" *ngIf="table_bool">
      </ng2-smart-table>

      <p></p>
      <button nbButton (click)="seqColor()">SHOW SEQUENCE</button>
      <p></p>


      <div *ngIf="pos_prob.length>0">
        <p></p>
        <span *ngFor="let item of pos_prob; index as i"
              class="seq" [ngStyle]="{'background-color':item.color}"
              nbTooltip="Position: {{item.no}}; Probability: {{item.prob}}">
        {{item.carat}}
    </span>
        <p></p>
        <dl>
          <div class="Legend">
            <div class="Red">&nbsp;</div>
            >= 99% probability
            <div class="Orange">&nbsp;</div>
            Probability between 95 and 99%
            <div class="Yellow">&nbsp;</div>
            Probability between 90 and 95%
            <div class="LightGreen">&nbsp;</div>
            Probability between 80 and 90%
            <div class="LightBlue">&nbsp;</div>
            Probability between 70 and 80%
            <div class="LightGray">&nbsp;</div>
            Probability between 60 and 70%
            <div class="White">&nbsp;</div>
            < 60% probability
          </div>
        </dl>

        <p></p>

        <a [href]="fileUrl" download="results_ml.txt">Download Results</a>

        <p></p>
      </div>

    </div>

  </nb-card-body>

</nb-card>
-->
