<nb-card>
  <nb-card-header>
    <a
      href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&PAGE_TYPE=BlastSearch&LINK_LOC=blasthome"
      nbPopover="Link to NCBI BLAST's web location."
      nbPopoverTrigger="hint"
      nbPopoverPlacement="bottom"
      target="_blank">NCBI BLASTP</a>
  </nb-card-header>

  <nb-card-body>
    <!--
    SEQUENCE:
    <textarea nbInput fullWidth type="text" value="{{query_seq}}" [formControl]="sequence"
                        placeholder="Sequence in FASTA format" style="width:90%"></textarea>
    <p></p>
    DATABASE:
    <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
      <nb-option value="nr">Non-redundant protein sequences (nr)</nb-option>
      <nb-option value="refseq_protein">Reference proteins (refseq_protein)</nb-option>
      <nb-option value="SMARTBLAST/landmark">Model Organisms (landmark)</nb-option>
      <nb-option value="swissprot">UniProtKB/Swiss-Prot(swissprot)</nb-option>
      <nb-option value="pataa">Patented protein sequences(pataa)</nb-option>
      <nb-option value="pdb">Protein Data Bank proteins(pdb)</nb-option>
      <nb-option value="tsa_nr">Transcriptome Shotgun Assembly proteins (tsa_nr)</nb-option>
    </nb-select>
    <p></p>
    ALGORITHM:
    <nb-radio-group [(ngModel)]="option">
      <nb-radio
        *ngFor="let option of options"
        [disabled]="option.disabled"
        [value]="option.value"
        [checked]="option.checked">
        {{ option.label }}
      </nb-radio>
    </nb-radio-group>
    -->

    <table>

      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 85%;">
      </colgroup>

      <tbody>

      <tr>
        <th><label>SEQUENCE:</label></th>
        <th style="padding-left:50px;">
      <textarea nbInput fullWidth type="text" value="{{query_seq}}" [formControl]="sequence"
                placeholder="Sequence in FASTA format" style="width:1000px"></textarea>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>DATABASE:</label></th>
        <th style="padding-left:50px;">
          <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
            <nb-option value="nr">Non-redundant protein sequences (nr)</nb-option>
            <nb-option value="refseq_protein">Reference proteins (refseq_protein)</nb-option>
            <nb-option value="SMARTBLAST/landmark">Model Organisms (landmark)</nb-option>
            <nb-option value="swissprot">UniProtKB/Swiss-Prot(swissprot)</nb-option>
            <nb-option value="pataa">Patented protein sequences(pataa)</nb-option>
            <nb-option value="pdb">Protein Data Bank proteins(pdb)</nb-option>
            <nb-option value="tsa_nr">Transcriptome Shotgun Assembly proteins (tsa_nr)</nb-option>
          </nb-select>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>
      <tr>
        <th><label>ALGORITHM:</label></th>
        <th style="padding-left:50px;">
          <nb-radio-group [(ngModel)]="option">
            <nb-radio
              *ngFor="let option of options"
              [disabled]="option.disabled"
              [value]="option.value"
              [checked]="option.checked">
              {{ option.label }}
            </nb-radio>
          </nb-radio-group>
        </th>
      </tr>
      <tr class="blank_row">
        <td colspan="2"></td>
      </tr>

      </tbody>

    </table>

    <p></p>
    <button nbButton (click)="gotoNCBI()">GO TO NCBI BLAST</button>
  </nb-card-body>
</nb-card>



